{{define "body"}}
<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <p>Good day.</p>
    <p>Your invoice is attached.</p><br>
    <p>Have a nice day :)</p>

    <p>--<br>
    Chained
    </p>
</body>

</html>

{{end}}